/* You can add global styles to this file, and also import other style files */

/* font-family: 'Merriweather Sans', sans-serif; */

body {
  font-family: 'Merriweather', serif;
  color: #4A4A4A;
}

a {
    font-size: 24px;
    color: #4A4A4A;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.divider {
	border-top: 1px solid #8c8b8b;
}

#subtitle {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    color: #007A90;
}

#category {

}

