<!--The content below is only a placeholder and can be replaced.-->
<div id="content">

      <div class="title">
        <div id="logocontent">
          <div id="logo">
            <img id ="brlogo" src="assets/BlackRock.png"/>
          </div>
          <div id="subtitle">{{title}}</div>
        </div>
      </div>

      <br>
      <hr class="divider">

      <div id="category" class="categorytitle"> Most Popular </div>

      <app-article></app-article>


  </div>
  <app-sidebar></app-sidebar>

