      <div id="mainarticle">
        <div *ngIf="articles">
              <div *ngFor="let article of articles.articles; let i=index">
                  <div class="articleobj" layout="column" layout-fill>
                    <template [ngIf]="i<5">
                      <div class="articleUrl">
                        <a href="{{article.url}}">{{article.title}}</a>
                      </div>
                      <div class="gridimg articleitem">
                        <img class="gridimg" [src]="article.image_url" />
                      </div>
                      <div class="articleitem articlecategory">{{article.category}}</div><br><br>
                    </template>
                  </div>
              </div>
        </div>
      </div>
