      <div id="mainarticle">
        <div *ngIf="articles">
          <!--<md-grid-list cols="2" rowHeight="2:1">
            <md-grid-tile>-->
              <div class="articleobj" *ngFor="let article of articles.articles; let i=index">
                <template [ngIf]="i<5">
                  <div>
                    <a href="{{article.url}}">{{article.title}}</a>
                  </div>
                  <div class="gridimg">
                    <img class="gridimg" [src]="article.image_url" />
                  </div>
                  <div>{{article.category}}</div>
                </template>
              </div>
            <!--</md-grid-tile>
          </md-grid-list>-->
        </div>
        <div class="analysis">
          <div class="analysisImg">
            <img src="assets/check.png" />
          </div>
        </div>
      </div>
