<div id="sidebar">
  <div id='filterText'><strong>Filter</strong></div><br><br>
  <div id="radio-btn-group">
  <input type="radio" name="gender" value="equity"> Equity<br><br>
  <input type="radio" name="gender" value="fixed_income"> Fixed Income<br><br>
  <input type="radio" name="gender" value="monetary_policy"> Monetary Policy<br><br>
  <input type="radio" name="gender" value="commodities"> Commodities<br><br>
  <input type="radio" name="gender" value="alternatives"> Alternatives
  </div>
  <br><br>
  <div id="submit-btn">
    <button id="filterSubmit"><strong>FILTER</strong></button>
  </div>
</div>
